@import "variables/globals";
@import "reset";
@import "themes/light";
@import "themes/dark";

.app {
  min-height: 100vh;

  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  color: var(--primary-color);

  background-color: var(--bg-color);
}

.main-content {
  display: flex;
  height: calc(100vh - 50px);
  transition: background-color 1s;
}

.page-wrapper {
  flex-grow: 1;
  background-color: var(--bg-color);
}
